@page
@model SurveyUP.Views.Answers.DetailsModel

<div>
    <h4>Szczegóły odpowiedzi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbAnswer.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbAnswer.Question.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbAnswer.AnswerText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbAnswer.AnswerText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbAnswer.DefaultText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbAnswer.DefaultText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbAnswer.AnswerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbAnswer.AnswerType.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.VtsTbAnswer.AnswerId" class="btn btn-secondary">Edytuj</a> 
    <a asp-page="./Index" class="btn btn-danger">Powrót do listy odpowiedzi</a>
</div>
