@page
@model SurveyUP.Pages.Questions.DeleteModel

<h3>Czy chcesz usunąć pytanie?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbQuestion.QuestionId)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbQuestion.QuestionId)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbQuestion.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbQuestion.QuestionText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VtsTbQuestion.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VtsTbQuestion.DisplayOrder)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="VtsTbQuestion.QuestionId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a asp-page="./Index" class="btn btn-danger">Powrót do listy pytań</a>
    </form>
</div>
